{% extends "./base.html" %}
{% load static %}

{% block maincontent %}

<div class="container">
	<div class="d-flex flex-column">
		<div class="d-flex p-2 mx-auto flex-column">
			<h1 class="p-1 mx-auto text-center" >Ryan Massoth</h1>
			<p>I write programs in Python mostly but I have used about a dozen other languages. I chose Python for it's readability
			and it's popularity. The two things that are important when considering the future of programming languages
			because you will read a lot of your old code and you want a language that will continue to have good support.</p>

			<p>I love programming because it's fun to create new things and watch them work. Just about anything
			you can imagine can be created using a computer.</p>

			<p>I live in Michigan with my wife, kids, and our many pets. As a family, we enjoy gaming, music, and learning together.</p>
		</div>
	</div>
</div>

{% endblock %}