{% extends "home/base.html" %}
{% load static %}
{% load bootstrap4 %}

{% block maincontent %}

<div class="container">
	<div class='row'>
		<div class='col-md-12'>
			<h1 class="text-center">Form Posting Example</h1>
			<p>
				Posting data with a form to the server is a very common use for Django. I use it in many of my projects for collecting user entered data about activities performed, issues they had, or tracking items. This is a sample of posting data to the server with a form. Choose your location from the list or add a new one if yours doesn't exist. Don't worry about accuracy because this is only a demonstration and the data will be regularly deleted anyway.
			</p>
      <p>
        There are a few issues with this form, for example, the location data is entered by a user so it's prone to errors. In production you would likely want a pre-filled list of locations or a cross-check
        against a list of cities in the world.
      </p>
		</div>
	</div>
	<div class='row'>
		<div class='col-md-6 offset-md-3'>
			<form action="" method="post">
				<div>{% bootstrap_field form.location %}
					<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#locationModal">
  					Add location</button>
				</div>
				<div>{% bootstrap_field form.mode_of_transport %}</div>
				<div>{% bootstrap_field form.miles_travelled %}</div>
				{% csrf_token %}
				<button class="btn btn-primary" type="submit">Submit</button>
			</form>
		</div>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="locationModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="locationModalLabel">Add location</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      	<form action="{% url 'examples:create-location' %}" method="post">
      		{% bootstrap_form location_form %}
      		{% csrf_token %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}