

<!DOCTYPE html>
<html lang='en'>
<head>
	{% load static %}
	<meta name="viewport" content="width=device-width, intial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" type="text/css" href="{% static 'main/css/main.css'%}">
	<title>
		RyanMassoth.com
	</title>
</head>

<body>
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				Congrats, you done it.
			</div>
		</div>

	</div>
</body>
</html>

{% load bootstrap4 %}

{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}