/* Main site style sheet*/

.navbar{
	background-color: #264653;
}

footer{
    background-color: #264653 !important;
}

body{
	#background-color: #264653 !important;
}

.img-thumbnail{
    background-color: #264653 !important;
}
.light-background{
    background-color: #ffffff;
}