/* Main site style sheet*/

/*.navbar{
	background: linear-gradient(to bottom, #2a9d8f 10%, #264653 100%);
}*/

.navbar{
	background-color: #264653;
}

body{
	background-color: #264653 !important;
}

.profile{
	border-radius: 50%;
}
